@import 'less/bootstrap.less';

html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#map {
    margin: 40px 0 0 0;
}

//bootstrap fix for google map
img {
    max-width: none;
}

label {
    width: auto;
}

//fix bootstrap
.navbar .nav > li > a {
    font-weight: bold;
    color: #CCC;
}

.right-toolbar {
    .label {
        font-size: 14px;
    }
}

.nav-right {
    li {
        padding: 9px 10px 11px;
    }
    .label {
        font-size: 12px;
        padding: 2px 4px;
    }
}

